<h1>All post:</h1>
<%= link_to "Add tag for post", new_tag_path %>
<%= link_to "Create new post", new_post_path %>
<% @posts.each do |post| %>
  <p>Title: <%= post.title %></p>
  <p>Text: <%= post.text %></p>
  <p> Tag: <%= post.tags.map {|c| c.name}.join(', ') %></p>
  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Delete', post_path(post), method: :delete %>
<% end %> 